Requirements of Python modules:

scikit-learn, version: 1.4.2;

scipy, version: 1.13.1;

pyemd, version: 1.0.0;

pandas, version: 2.2.2;

numpy, version: 1.26.4;

seaborn, version: 0.13.2;

upsetplot, version: 0.9.0;

matplotlib, version: 3.8.4;

pickle and itertools are parts of Python’s standard library;
Python, version: 3.11.7
 